# Mail Server Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=

# External APIs
API_KEY=
BREVO_API_KEY=

# Frontend Configuration (Cloudinary, Supabase, etc.)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ADMIN_SECRET_PATH=
VITE_EMAILJS_SERVICE_ID=
VITE_ELEVENLABS_AGENT_ID=agent_2901kg6r4ktrf7wvwa4mn4txgs49
APP_URL=
